1	ICON	"razor.ico"
2	BITMAP	"test123.bmp"
3	PNG		"babymetal-july-babymetal-2014-promo-636.png"
4	PNG		"babymetal-july-babymetal-2014-promo-636-transparent.png"
5	BITMAP	"babymetal-july-babymetal-2014-promo-636-transparent.bmp"
